body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}


.container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.form-box-left {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}
.form-box-right {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
}
